.git
node_modules
app/node_modules
app/.next
app/.env
app/.env.*
app/dev.db
app/prisma/dev.db
app/prisma/dev.db-journal
screenshots-*
app/screenshots-*
playwright-report
app/playwright-report
test-results
app/test-results